<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>프론트-백엔드 연결 마지막 예제!</title>
    <!-- import jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- Bootstrap css link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <style>
        .make-center {
            text-align: center;
        }
        
        .star-list {
            width: 700px;
            margin: 20px auto 0 auto;
        }
        
        .star-name {
            display: inline-block;
        }
        
        .star-name:hover {
            text-decoration: underline;
        }
        
        .card {
            margin-bottom: 15px;
        }
    </style>
    <script>
        $(document).ready(function() {
            // index.html 로드가 완료되면 자동으로 show_star() 함수를 호출합니다.
            list_comment();
        });

        function list_comment() {
            $.ajax({
                type: 'GET',
                url: '/api/list',
                data: {},
                success: function(response) {
                    if (response['result'] == 'success') {
                        let msg = response['msg'];
                        let stars = response['newsplies'];
                        alert(msg);
                        for (let i = 0; i < newsplies.length; i++) {
                            // make_star_list(i, stars[i]['name'], stars[i]['img_url'], stars[i]['recent'], stars[i]['url'], stars[i]['like']);
                            // 성능면에서 배열의 depth 를 여러번 찾아들어 갈 수록 좋지 않음.
                            let newsply = newsplies[i];
                            // console.log(star);

                            let key = newsply['key'];
                            let date = newsply['date'];
                            let title = newsply['title'];
                            let thumb_url = newsply['thumb_url'];
                            let comment0 = newsply['comment0'];
                            let comment1 = newsply['comment1'];
                            let comment2 = newsply['comment2'];
                            make_comment_list(i, key, date, thumb_url, comment0, comment1, comment2);
                            // alert('test');

                            // 성능 확인용 코드
                            // console.time('start');
                            // logic...
                            // console.time('end');
                        }
                    }
                }
            });
        }

        function make_comment_list(i, key, date, thumb_url, comment0, comment1, comment2) {
            let temp_html = '';
            temp_html = `
			<div class="card">
  	          <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="${img_url}&type=u120_150&quality=95" alt="Placeholder image" />
                        </figure>
                    </div>
                    <div class="media-content">
                        <a href="#" target="_blank" class="star-name title is-4">${name} (좋아요: ${like})</a>
                        <p class="subtitle is-6">${recent}</p>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" onclick="like_star('${name}')" class="card-footer-item has-text-info">
            위로!
            <span class="icon">
              <i class="fas fa-thumbs-up"></i>
            </span>
          </a>
                <a href="#" onclick="delete_star('${name}')" class="card-footer-item has-text-danger">
            삭제
            <span class="icon">
              <i class="fas fa-ban"></i>
            </span>
          </a>
            </footer>
        </div>`

            $('#star-box').append(temp_html);
        }

        function like_star(name) {
            $.ajax({
                type: 'POST',
                url: '/api/like',
                data: {
                    'name_give': name
                },
                success: function(response) {
                    if (response['result'] == 'success') {
                        let msg = response['msg'];
                        alert(msg);
                        window.location.reload(); // 새로고침한다.
                    }
                }
            });
        }

        function delete_star(name) {
            $.ajax({
                type: 'POST',
                url: '/api/delete',
                data: {
                    'name_give': name
                },
                success: function(response) {
                    if (response['result'] == 'success') {
                        let msg = response['msg'];
                        alert(msg);
                        window.location.reload(); // 새로고침한다.
                    }
                }
            });
        }
    </script>
</head>

<body>
    <section class="hero is-warning">
        <div class="hero-body">
            <div class="container make-center">
                <h1 class="title">
                    마이 페이보릿 무비스타😆
                </h1>
                <h2 class="subtitle">
                    순위를 매겨봅시다
                </h2>
            </div>
        </div>
    </section>
    <div class="star-list" id="star-box">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">오늘공감<span class="badge badge-light">15</span><span class="sr-only">unread messages</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">어제공감<span class="badge badge-light">25</span><span class="sr-only">unread messages</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">주간공감<span class="badge badge-light">205</span><span class="sr-only">unread messages</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">월간공감<span class="badge badge-light">1.4K</span><span class="sr-only">unread messages</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">연간공감<span class="badge badge-light">25.2K</span><span class="sr-only">unread messages</span></a>
            </li>
        </ul>
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <!-- 이미지 큰 것 한개에 아래에 왼쪽편에 덧글과 오른편에 meta description 을 설명 -->
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <!-- Thumbnail image 를 db로부터 받아와 뿌린다. -->
                            <img src="https://img1.daumcdn.net/thumb/S95x77ht.u/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fnews%2F202006%2F20%2Fked%2F20200620001503862dysd.jpg&scode=media" alt="Placeholder image" />
                        </figure>
                    </div>
                    <div class="media-content">

                        <div class="card-header">
                            <a href="#" target="_blank">다른 기더기들은 이런 것에 찍소리도 못하지...</a><span style="display:inline-block;">스크랩</span>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">다른 기더기들은 이런 것에 찍소리도 못하지...</li>
                            <li class="list-group-item">다른 기더기들은 이런 것에 찍소리도 못하지...</li>
                        </ul>
                        <!-- <p class="subtitle is-6">안녕, 나의 소울메이트(가제)</p> -->
                        <div class="card" style="width: 34rem;">
                            <img src="https://img1.daumcdn.net/thumb/S1200x630/?fname=https://t1.daumcdn.net/news/202006/20/ked/20200620001503862dysd.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">[단독] '묶음할인' 세계 최초로 금지..라면·맥주값 줄줄이 오를 판</h5>
                                    <a href="#" class="btn btn-primary">원문보기</a>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <!-- Thumbnail image 를 db로부터 받아와 뿌린다. -->
                            <img src="https://img1.daumcdn.net/thumb/S95x77ht.u/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fnews%2F202006%2F20%2Fked%2F20200620001503862dysd.jpg&scode=media" alt="Placeholder image" />
                        </figure>
                    </div>
                    <div class="media-content">
                        <a href="#" target="_blank" class="star-name title is-6">다른 기더기들은 이런 것에 찍소리도 못하지...</a>
                        <!-- <p class="subtitle is-6">안녕, 나의 소울메이트(가제)</p> -->
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <!-- Thumbnail image 를 db로부터 받아와 뿌린다. -->
                            <img src="https://img1.daumcdn.net/thumb/S95x77ht.u/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fnews%2F202006%2F20%2Fked%2F20200620001503862dysd.jpg&scode=media" alt="Placeholder image" />
                        </figure>
                    </div>
                    <div class="media-content">
                        <a href="#" target="_blank" class="star-name title is-6">다른 기더기들은 이런 것에 찍소리도 못하지...</a>
                        <!-- <p class="subtitle is-6">안녕, 나의 소울메이트(가제)</p> -->
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <!-- Thumbnail image 를 db로부터 받아와 뿌린다. -->
                            <img src="https://img1.daumcdn.net/thumb/S95x77ht.u/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fnews%2F202006%2F20%2Fked%2F20200620001503862dysd.jpg&scode=media" alt="Placeholder image" />
                        </figure>
                    </div>
                    <div class="media-content">
                        <a href="#" target="_blank" class="star-name title is-6">다른 기더기들은 이런 것에 찍소리도 못하지...</a>
                        <!-- <p class="subtitle is-6">안녕, 나의 소울메이트(가제)</p> -->
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" onclick="like_star('김다미')" class="card-footer-item has-text-info">
            위로!
            <span class="icon">
              <i class="fas fa-thumbs-up"></i>
            </span>
          </a>
                <a href="#" onclick="delete_star('김다미')" class="card-footer-item has-text-danger">
            삭제
            <span class="icon">
              <i class="fas fa-ban"></i>
            </span>
          </a>
            </footer>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">오늘</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1일전</a></li>
            <li class="page-item"><a class="page-link" href="#">2일전</a></li>
            <li class="page-item"><a class="page-link" href="#">3일전</a></li>
            <li class="page-item"><a class="page-link" href="#">4일전</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</body>

</html>


<!-- media-object : nest 를 사용하고, 접기 펼치기 적용 -->